body {
    background-image: url('background.svg');
    background-color: rgba(255,255,255,0.6);
    background-blend-mode: lighten;
    background-repeat: no-repeat;
    background-position-x: right;
}

.btnContainer {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    margin-top: 30px;
}

button {
    padding: 7px;
}

.checkBtn {
    background-color: green;
    color: white;
}

.cipherText {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    margin-top: 3px;
    text-align: center;
    text-transform: capitalize;
}

.infoContainer {
    margin-top: 15px;
}

.ingroup {
    background-color: rgba(255, 255, 0, 0.3);
}

.input {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    border: 1px dashed gray;
    height: 28px;
    width: 24px;
}

.instructionsContainer {
    margin-top: 10px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.navBar {
    width: 75%;
    background-color: rgba(255,255,255,0.4);
    border: 1px solid gray;
    margin-top: 30px;
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    gap: 15px;
    justify-content: center;
}

.problemContainer {
    column-gap: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 30px;
    row-gap: 20px;
}

.resetBtn {
    background-color: orange;
    color: white;
}

table {
    border-spacing: 5px 2px;
    background-color: rgba(255,255,255,0.5);
    border: 1px solid gray;
    padding: 2px;
}

td {
    vertical-align: top;
}

.letterContainer {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
}

.topContainer {
    width: 75%;
    background-color: rgba(255,255,255,0.4);
    border: 1px solid gray;
    margin-top: 30px;
    padding: 10px;
}

.selected {
    background-color: yellow;
    border: 1px solid black;
}